.navbar__content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.navbar {
    background-color: #0c0b0b;
    width: 100%;
    height: 50px;
    position: fixed;
}

#navbar__logo {
    left: 0px;
    width: 80px;
    object-fit: contain;
    position: fixed;
}

#navbar__avatar {
    position: fixed;
    right: 20px;
    padding-right: 20px;
    width: 40px;
    object-fit: contain;
}